<div id="sports-index">
  
</div>


<div id="main">
  
<!-- add a default page here, ala top bets page on real superbook -->
  DEFAULT
  
</div>

<script>$(Superbook.initialize);</script>


<div id="bets-index">

</div>