<div id="sports-index">
  
</div>


<div id="main">
  
<!-- add a default page here, ala top bets page on real superbook -->
  <div class="jumbotron">
    <h2>Welcome to clevernamebook!</h2>
    <p><span class="glyphicon glyphicon-arrow-left"></span> Pick a sport to bet on</p>
    <!-- <p><a class="btn btn-primary btn-lg" role="button">Or check some of your bets</a></p> -->
  </div>
  
</div>



<div id="bets-index">

</div>


<script>$(Superbook.initialize);</script>