<div class="search-panel">

  <form>
    
    <input class="search-input" type="text" name="search">
    <button type="submit" class="btn btn-default search">SEARCH</button>
    
  </form>

</div>


<ul class="list-group">

  <li class="list-group-item sport-link">
    <a
      class="sport-link"
      href="#/users/1">
      MY BETS (PENDING)
    </a>
    
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
  </li>
  
  <% sports.each( function (sport) { %>

    <li class="list-group-item sport-link">
      <a
        class="sport-link"
        href="#/sports/<%= sport.get('id') %>">
        <%= sport.escape("name") %>
      </a>
      
      <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    </li>

  <% }) %>
  

  

</ul>