<div class="sports">
  <ul class="list-group col-xs-3">
    <h3 class="list-group-item">sports</h3>  
    <% sports.each( function (sport) { %>
  
      <li
        class="list-group-item">
        <a
          class="sport-link" 
          href="#">
            <%= sport.escape("name") %>
        </a>
      </li>
  
    <% }) %>
  </ul>
</div>

<div class="games-index"></div>

<div class="bets">
  
  <ul class="list-group col-xs-3">
    <h3 class="list-group-item">bets</h3>
  </ul>
  
</div>