<div class="sports col-xs-3">
  <ul class="list-group">
    <h3 class="list-group-item">sports</h3>
    <% sports.each( function (sport) { %>
  
      <li
        class="list-group-item">
        <a
          class="sport-link"
          href="#"
          data-id="<%= sport.get('id') %>">
            <%= sport.escape("name") %>
        </a>
      </li>
  
    <% }) %>
  </ul>
</div>

<div class="game-list col-xs-6"></div>

<div class="bets-list col-xs-3">
  
  <ul class="list-group">
    <h3 class="list-group-item">bets</h3>
    
    
  </ul>
  
</div>