
<ul class="list-group col-xs-2">
  <h3 class="list-group-item">sports</h3>  
  <% sports.each( function (sport) { %>
  
    <li
      class="list-group-item">
      <a
        class="sport-link" 
        href="#">
          <%= sport.escape("name") %>
      </a>
    </li>
  
  <% }) %>
</ul>

