<div class="games-header">
  
  <div class="header-title">
    <div class="sport-name"><%= sport.escape('name') %> Game Lines</div>
  </div>
  
  <!-- <div class="s">

    <ul class="nav nav-pills smalltab">
      <li class="active s"><a class="s">Game Lines</a></li>
      <li class="s"><a class="s">1st Half</a></li>
      <li class="s"><a class="s">2nd Half</a></li>
      <li class="s"><a class="s">1st Quarter</a></li>
      <li class="s"><a class="s">3rd Quarter</a></li>
    </ul>
  </div> -->
    
  <div class="header-tabs">
      some tabs later
  </div>
    
  <div class="sub-header">
    <span class="sub-header-team">Team</span>
    <span class="pull-right sub-header">Money</span>
    <span class="pull-right sub-header">Spread</span>
    <span class="pull-right sub-header">Total</span>
  </div>
</div>



<ul class="games list-group">
  <div class="games-show-list">
  </div>
</ul>