<div class="col-xs-4 col-xs-offset-4">

	<h1>Sign In</h1>

	<form role="form" action="/session" method="post">
		
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

		<div class="form-group">
			<label for="username">Username</label>
			<input 
				id="username"
				name="user[username]"
				class="form-control"
				type="text">

			<label for="password">Password</label>
			<input 
				id="password"
				name="user[password]"
				class="form-control"
				type="password">
		</div>
		
		<input type="submit" value="Submit" class="btn btn-primary col-xs-4 col-xs-offset-1">
	</form>
  
  <form action="/session" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    
    <input
      type="hidden"
      name="user[username]"
      value="guest">
    <input
      type="hidden"
      name="user[password]"
      value="guest">
    <input type="submit" value="Guest Login" class="btn btn-primary col-xs-4 col-xs-offset-2">
  </form>
</div>