
<ul class="list-group">
  <h3 class="list-group-item">bets</h3>

  
  <% bets.each(function(bet){ %>
    <li class="list-group-item">
      <%= bet.attributes.team.name %>
    </li>
  <% }) %>
  
</ul>
