<li class="list-group-item">
  
  <%= game.attributes.team1.name %>
  <form role="form" class="new-bet-form">
    <div class="form-group">      
      <label  for="amount">bet $</label>
      <input 
        id="amount"
        name="bet[amount]"
        class="form-control"
        type="text">



      <label for="win-amount">win $</label>
      <input
        id="win-amount"
        class="form-control"
        type="text">
		</div>
		<input type="submit" value="Place Bet" class="btn btn-danger">
  </form>
</li>