<div class="games">
  <ul class="list-group col-xs-6" id="game-show">
    <h3 class="list-group-item">games</h3>  
    
    <!-- <% games.each(function (game) { %>

      <li class="list-group-item">
        <%= game.attributes.team1.city %>
        <%= game.attributes.team1.name %>
      </li>

    <% }) %> -->
  </ul>
</div>