/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


.team {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	background-color: #E6E6E6;
}

.team:hover {
 background-color: #CCCCCC; 
}

.team.active {
	background-color: #e21e25;
	border-color: #d1191f;
	color: white;
	font-weight: bold;
}

.bet-index-item {

  margin-bottom: 20px;
  background-color: #EAEAEA;
}

.bet-index-item.winner {
  background-color: #F0FAF0;
  border-color: #296B31;
}

.bet-index-item.loser {
  background-color: #FDF7F7;
  border-color: #7A1D1D;
}

.bet-item-heading {
  font-size: 14px;
  margin-top: 20px;
  padding: 5px;
  padding-left: 15px;
  color: #4D4D4D;
  background-color: #BCBDBF;
}

.bet-item-heading.winner {
  margin-top: 20px;

  color: white;
  background-color: #296B31;
}

.bet-item-heading.loser {
  margin-top: 20px;
  
  color: white;
  background-color: #7A1D1D;
}