// Place all the styles related to the Sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3#games {
  padding: 0;
  margin: 0 0 0 -1px;
}


.games-header {
  margin-top: 20px;
  height: 80px;
}

.header-tabs {
  height: 30px;
  background: white;
  border-left: #b8b8b8 solid 1px;
  border-right: #b8b8b8 solid 1px;
}

.header-title {
  background-color: #3D4455;
  height: 30px;
  color: white;
  border-radius: 4px 4px 0 0; 
}

.sub-header {
  padding: 0 3px 0 25px;
  background-color: #8E96AA;
  color: #E0E1E1;
}

div.sport-name {
  padding-top: 5px;
  padding-left: 10px;
}


span.sub-header {
  padding: 0 30px 0 0;
}

.search-panel {
  padding: 9px 0 0 30px;
  height: 44px;
  background: #8E96AA;
}

.search {
  color: white;
  background: #1A1E29;
  border: none;
  font-size: 11px;
  height: 26px;
  width: 55px;
  padding: 4px 5px 4px 5px;
}



.search-input {
  width: 100px;
}

li.list-group-item.sport-link {
  border: none;
  padding: 7px 10px 7px 15px;
  height: 26px;
}

a.sport-link {
  color: #53565D;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9pt;
}

span.glyphicon-chevron-down {
  color: #C1C5CC;
  padding-top: 5px;
  padding-right: 3px;
  font-size: 8px;
}